extends layout

block content
  h1= title   
  p.mt <br> Mobile Store was founded in 2019. Our plan was simple: let's make it easy for people to buy Mobiles online, affordably with delivery to their door. Retail stores had sky-high pricing, were poorly stocked and were slow to bring in the latest technology. And thus the dream (Mobile Store) was born.<br><br>So go ahead - browse our catalogue and let us Get You A Mobile.
