extends layout

block content
  h1.mt  <br> Smartphone display is the main thing a user sees when buying a new mobile device. This is because the display screen happens to interact with the software and do various things.